django
pillow
django_bootstrap5
whitenoise[brotli]
gunicorn
ollama
langchain
langchain-community
langchain-google-genai
social-auth-app-django
python-dotenv
django-redis
soundfile>=0.12.1
numpy>=1.24.0
requests>=2.31.0
