<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-4">
        <h5 class="mb-4">About Mobtakir</h5>
        <p>
          Revolutionizing workflows with advanced AI solutions for developers,
          designers, and creators.
        </p>
        <div class="social-icons mt-4">
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-github"></i></a>
        </div>
      </div>
      <div class="col-md-2">
        <h5 class="mb-4">Quick Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#" class="text-white text-decoration-none">Home</a>
          </li>
          <li class="mb-2">
            <a
              href="{% url "pages:index" %}#services"
              class="text-white text-decoration-none"
              >Services</a
            >
          </li>
          <li class="mb-2">
            <a href="{% url "pages:pricings" %}" class="text-white text-decoration-none"
              >Pricing</a
            >
          </li>
          <li class="mb-2">
            <a href="{% url "pages:about" %}" class="text-white text-decoration-none"
              >Pricing</a
            >
          </li>
          <li class="mb-2">
            <a href="{% url "pages:contact" %}" class="text-white text-decoration-none"
              >Contact</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5 class="mb-4">Resources</h5>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="{% url "pages:contact" %}" class="text-white text-decoration-none"
              >Contact</a
            >
          </li>
          <li class="mb-2">
            <a
              href="{% url "pages:api_documentation" %}"
              class="text-white text-decoration-none"
              >API</a
            >
          </li>
          <li class="mb-2">
            <a href="{% url "blog:post_list" %}" class="text-white text-decoration-none"
              >Blog</a
            >
          </li>
          <li class="mb-2">
            <a href="{% url "pages:support" %}" class="text-white text-decoration-none"
              >Support</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="mb-4">Newsletter</h5>
        <p>Subscribe to our newsletter for updates and tips.</p>
        <form class="newsletter-form">
          <div class="input-group mb-3">
            <input
              type="email"
              class="form-control"
              placeholder="Enter your email"
            />
            <button class="btn btn-primary" type="submit">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
    <hr class="mt-4 mb-3 border-light" />
    <div class="text-center">
      <p class="mb-0">&copy; 2024 Mobtakir. All rights reserved.</p>
    </div>
  </div>
</footer>
