{% extends 'base.html' %}
{% load static %}
{% block title %}Generate Image{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static "assets/css/styles.css" %}">
{% endblock styles %}
{% block content %}
<main class="p-3">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Generate Image</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        
                        {% for field in form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">
                                {{ field.label }}
                            </label>
                            {{ field }}
                            {% if field.errors %}
                            <div class="text-danger">
                                {{ field.errors }}
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        
                        <button type="submit" class="btn btn-primary">Generate Image</button>
                        <a href="{% url "image_gen:gallery" %}" class="btn btn-success">Gallery</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
